<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/group_358__1_"
        android:label="testi"
        android:roundIcon="@drawable/group_358__1_"
        android:supportsRtl="true"
        android:theme="@style/Theme.Testi"
        tools:targetApi="31">
        <activity
            android:name=".royalvaganza"
            android:exported="false" />
        <activity
            android:name=".ekstravaganza"
            android:exported="false" />
        <activity
            android:name=".undiantraveloka"
            android:exported="false" />
        <activity
            android:name=".redeemvaganza"
            android:exported="false" />
        <activity
            android:name=".traveloka"
            android:exported="false" />
        <activity
            android:name=".scansuccess"
            android:exported="false" />
        <activity
            android:name=".scanktp"
            android:exported="false" />
        <activity
            android:name=".scan_menu"
            android:screenOrientation="fullSensor"
            android:stateNotNeeded="true"
            tools:replace="android:screenOrientation" />
        <activity
            android:name="com.journeyapps.barcodescanner.CaptureActivity"
            android:screenOrientation="fullSensor"
            android:stateNotNeeded="true"
            tools:replace="android:screenOrientation" />

        <meta-data
            android:name="com.google.android.actions"
            android:resource="@xml/drawer_layout" />

        <activity
            android:name=".main_menu"
            android:exported="false" />
        <activity
            android:name=".register_menu"
            android:exported="false" />
        <activity
            android:name=".login_menu"
            android:exported="false" />
        <activity
            android:name=".login"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>